<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Add Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>

<div class="container">
<form th:action="@{/saveroom}" th:object="${room}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="form-group col-md-6">
        <label for="address" th:text="'Address'"></label>
        <input type="text" class="form-control" th:field="*{address}">
    </div>
    <div class="form-group col-md-6">
        <label for="city" th:text="'City'"></label>
        <input type="text" class="form-control" th:field="*{city}">
    </div>
    <div class="form-group col-md-6">
        <label for="state" th:text="'State'"></label>
        <input type="text" class="form-control" th:field="*{state}">
    </div>
    <div class="form-group col-md-6">
        <label for="price" th:text="'Price'"></label>
        <input type="text" class="form-control" th:field="*{price}">
    </div>
    <div class="form-group col-md-6">
        <label for="rented" th:text="'Rented'"></label>
        <input type="checkbox" class="form-control" th:field="*{rented}" th:checked="${rented}">
    </div>
    <div class="form-group col-md-6">
        <label for="description" th:text="'Description'"></label>
        <input type="text" class="form-control" th:field="*{description}">
    </div>
    <div class="form-group col-md-6">
        <label for="rules" th:text="'Rules'"></label>
        <input type="text" class="form-control" th:field="*{rules}">
    </div>
    <div class="form-group col-md-6">
        <label for="wifi" th:text="'Wifi'"></label>
        <input type="checkbox" class="form-control" th:field="*{wifi}" value="true">
    </div>
    <div class="form-group col-md-6">
        <label for="cable" th:text="'Cable'"></label>
        <input type="text" class="form-control" th:field="*{cable}">
    </div>
    <div class="form-group col-md-6">
        <label for="bathroom" th:text="'Bathroom'"></label>
        <input type="checkbox" class="form-control" th:field="*{bathroom}" value="true">
    </div>
    <div class="form-group col-md-6" sec:authorize="hasAuthority('ADMIN')">
        <label for="privatetrue" th:text="'Private'"></label>
        <input type="checkbox" class="form-control" th:field="*{privatetrue}" th:checked="${privatetrue}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>